<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <title>
        {% if block("title") is not empty %}
            {% block title %}{% endblock %} | DrMVC
        {% else %}
            DrMVC
        {% endif %}
    </title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% for value in data['vendor_styles'] %}
        <link rel="stylesheet" href="/vendor/{{ value }}">
    {% endfor %}

    {% for value in data['styles'] %}
        <link rel="stylesheet" href="/css/{{ value }}">
    {% endfor %}

    {% for value in data['vendor_scripts'] %}
        <script type="text/javascript" src="/vendor/{{ value }}"></script>
    {% endfor %}

    {% for value in data['scripts'] %}
        <script type="text/javascript" src="/js/{{ value }}"></script>
    {% endfor %}

</head>
<body>

{% include "navigation.twig" %}
{% block header %}{% endblock %}
{% block content %}{% endblock %}

</body>
</html>
