<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DrMVC Demo Application</title>
    <link rel="icon" type="image/png" href="/resources/img/favicon.png"/>
    <link href="/resources/css/theme.css" rel="stylesheet">
</head>
<body class="text-center">
{% include "_navbar.twig" %}
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<script type="text/javascript" src="/resources/js/jquery.min.js"></script>
<script type="text/javascript" src="/resources/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/resources/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="/resources/js/popper.min.js"></script>
</body>
</html>
