{% extends "_layout.twig" %}
{% block content %}
    <div class="starter-template">
        <h1>DrMVC Starter-kit Application</h1>
        <p class="lead">
            Use this project as a way to quickly start any new project.
        </p>
    </div>
{% endblock %}
